/**************************************
Default page styles
**************************************/


html,

body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  color: black;
  background-color: white;
}

html {
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-weight: bold;
}

h2 {
  text-align: left;
  font-weight: bold;

  font-size: x-lar main ;
    flex: 1;
    padding: 0px;
  }

  /**************************************
  Heading styles
  **************************************/

  header {
    background-color: #008000;
    color: #90ee90;

  }

  #banner {
    align-items: center;
  }

  footer {
    background-color: gold;
    position: fixed;
    bottom: 0;
  }

  #social {
    text-align: right;
  }

  #social img {
    width: 32px;
    margin-right: 10px;
  }

  #pageTitle {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    vertical-align: middle;
  }

 
  
  /************************ 
  PuzzleCard 
  *************************/

  .puzzleCardHidden {
    display: none;
  }

  .puzzleCard {
    background-color: rgb(218, 233, 211);
    margin:10px;
    padding:2px;
    border:4px solid darkorchid;
    /*width:100%*/
  }
  .puzzleCard-header {
    display: flex;
    color: black;
    background-color: lightblue;
    font-size: large;
    padding: 5px;
  }

  .puzzleCard-body {
    color: black;
    background-color: rgb(218, 233, 211);
    font-size: medium;
    margin:0px;
    padding:0px;
    
    padding: 5px;
  }

  .clsBlogCardData {
    position: relative;

  }

  #timestamp {
    position: relative;
  }

  ;

  .category-img {
    border: 10px red solid;
  }

  /************************ 
  comment Card 
  *************************/

 

  .clsCommentCard.header,
  .clsNewPostCard.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(218, 233, 211);
    background-color: black;
    font-size: medium;
    /*width:100%;*/
    padding: 5px;


  }